# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
sol-env/
venv/
.env

# IDEs
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
